NEXT_PUBLIC_APP_NAME=PP Email
NEXT_PUBLIC_APP_HOST=ppemail.purplestreet.com
NEXT_PUBLIC_BUSINESS_NAME=Purple Prices
NEXT_PUBLIC_BUSINESS_EMAIL=support@purpleprices.com
NEXT_PUBLIC_CLOUDFLARE_ACCESS_ENABLED=true
CONVEX_DEPLOYMENT=
NEXT_PUBLIC_CONVEX_URL=
